:root{
  --cor-b0:#fff;
  --cor-b1:#fffaf1;
  --cor-b2:#e1e1e6;
  --cor-b3:#c4c4c4;
  --cor-c1:#7c7c8a;
  --cor-c2:#76797b;
  --cor-c3:#4d585e;
  --cor-p1:#000405;
  --cor-p2:#00070a;
  --cor-p3:#000204;
  --cor-p4:#000a0f;
  --cor-p5:#000c12;
  --cor-p6:#001119;

}